In [1]:
#import pyarrow.feather as feather
import pandas as pd
import numpy as np
#from scipy.io import netcdf
import matplotlib.pyplot as plt 
#from shapely.geometry import Point
#import geopandas as gpd
#from geopandas import GeoDataFrame
#import xarray as xr
#import netCDF4 as nc
#from netCDF4 import Dataset
#import xlrd
import datetime
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")

In [2]:
# it is better for visualisation if the columns date type (not int or str)
# when save df to csv, if the column names are date, they are saved as str
def convert_col_to_date(columns):
    
    # convert the columns type
    #columns = df.columns
    new_columns = []
    for col in columns:
        new_columns.append(pd.to_datetime(col).date())
    return new_columns

In [4]:
# import t s and convert into date type
grouped_t_s = pd.read_csv("dataset/time_series/grouped_t_s.csv")
grouped_t_s = grouped_t_s.set_index("proj_id")
print(grouped_t_s.shape)
grouped_t_s.columns = convert_col_to_date(grouped_t_s.columns)
grouped_t_s.head()

(12590, 6575)

,1995-01-01,1995-01-02,1995-01-03,1995-01-04,1995-01-05,1995-01-06,1995-01-07,1995-01-08,1995-01-09,1995-01-10,...,2012-12-22,2012-12-23,2012-12-24,2012-12-25,2012-12-26,2012-12-27,2012-12-28,2012-12-29,2012-12-30,2012-12-31
proj_id,,,,,,,,,,,,,,,,,,,,,
BB_25470023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BB_25470024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BB_25480025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BB_25480026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BB_25481088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.28,37.32,37.33,37.35,37.33,37.35,37.3,37.31,37.34,37.34

In [6]:
# import daily_temp (ave computed in place)
daily_temp = pd.read_csv("dataset/temperature/daily_temp.csv").set_index("proj_id")
daily_temp.columns= convert_col_to_date(daily_temp.columns)
print(daily_temp.shape)
daily_temp.head()

(12382, 6544)

,1995-01-01,1995-01-02,1995-01-03,1995-01-04,1995-01-05,1995-01-06,1995-01-07,1995-01-08,1995-01-09,1995-01-10,...,2012-11-21,2012-11-22,2012-11-23,2012-11-24,2012-11-25,2012-11-26,2012-11-27,2012-11-28,2012-11-29,2012-11-30
proj_id,,,,,,,,,,,,,,,,,,,,,
BB_25470023,14,-8,-26,-63,-65,-80,-76,-56,-19,16,...,46,59,35,48,62,63,65,49,39,15
BB_25470024,14,-8,-26,-63,-65,-80,-76,-56,-19,16,...,46,59,35,48,62,63,65,49,39,15
BB_25480025,17,-6,-27,-67,-63,-80,-74,-52,-19,18,...,44,58,33,49,60,61,64,48,42,19
BB_25480026,14,-8,-28,-65,-65,-81,-77,-56,-20,16,...,46,59,36,49,62,63,65,49,38,15
BB_25481088,17,-6,-26,-66,-62,-80,-74,-52,-19,18,...,44,59,33,49,60,62,64,48,42,19

In [7]:
# import daily_temp (ave computed in place)
ave_temp = pd.read_csv("dataset/temperature/ave_temp.csv").set_index("proj_id")
columns = convert_col_to_date(ave_temp.columns[:-1])
columns.append("freq")
ave_temp.columns= columns
print(ave_temp.shape)
ave_temp.head()

(12382, 6545)

,1995-01-01,1995-01-02,1995-01-03,1995-01-04,1995-01-05,1995-01-06,1995-01-07,1995-01-08,1995-01-09,1995-01-10,...,2012-11-22,2012-11-23,2012-11-24,2012-11-25,2012-11-26,2012-11-27,2012-11-28,2012-11-29,2012-11-30,freq
proj_id,,,,,,,,,,,,,,,,,,,,,
BB_25470023,14.0,-8.0,-26.0,-63.0,-65.0,-80.0,-43.4286,-53.4286,-55.0000,-49.0000,...,33.7143,39.2857,43.4286,47.2857,51.5714,54.0000,54.4286,51.5714,48.7143,7.0
BB_25470024,14.0,-8.0,-26.0,-63.0,-65.0,-80.0,-43.4286,-53.4286,-55.0000,-49.0000,...,33.7143,39.2857,43.4286,47.2857,51.5714,54.0000,54.4286,51.5714,48.7143,7.0
BB_25480025,17.0,-6.0,-27.0,-67.0,-63.0,-80.0,-42.8571,-52.7143,-54.5714,-48.1429,...,32.4286,37.8571,42.4286,46.1429,50.1429,52.7143,53.2857,51.0000,49.0000,7.0
BB_25480026,14.0,-8.0,-28.0,-65.0,-65.0,-81.0,-44.2857,-54.2857,-56.0000,-49.7143,...,33.8571,39.4286,43.5714,47.4286,51.8571,54.2857,54.7143,51.7143,48.7143,7.0
BB_25481088,17.0,-6.0,-26.0,-66.0,-62.0,-80.0,-74.0000,-52.0000,-19.0000,18.0000,...,59.0000,33.0000,49.0000,60.0000,62.0000,64.0000,48.0000,42.0000,19.0000,1.0

In [ ]:
#bgr_serial = 1246 #freq 1
#bgr_serial =  #freq 
bgr_serial = 2146 #freq 7
#bgr_serial = 2461 #freq 7
#bgr_serial = 4689 #freq 14
#bgr_serial = 8888 #freq 30
f =ave_temp.iloc[bgr_serial][-1] 
ts_index = grouped_t_s.iloc[bgr_serial].dropna().index
ts_index = ts_index[ts_index < ave_temp.iloc[bgr_serial].index[-2]]

In [ ]:
fig.suptitle('Vertically stacked subplots')

fig, axs = plt.subplots(3,1, figsize=(20,10))
axs[0].plot(grouped_t_s.iloc[bgr_serial].dropna()[-100:])
axs[0].set_title('ground-wanter t s')
axs[1].plot(ave_temp.iloc[bgr_serial].dropna()[ts_index][-100:])
axs[1].set_title('ave_temp')
axs[2].plot(daily_temp.iloc[bgr_serial].dropna()[ts_index][-100:])
axs[2].set_title('daily_temp')

In [ ]:
plt.figure(figsize=(20,10))

ave_temp.iloc[bgr_serial].dropna()[ts_index][:100].plot(color='blue',grid=True)
daily_temp.iloc[bgr_serial].dropna()[ts_index][:100].plot(color='red',grid=True, secondary_y=True)
#ave_temp.loc["BB_25481088"].dropna()[5000:5200].plot(color='red',grid=True, secondary_y=True)
plt.title(f"daily_temp (red) vs ave_temp (blue) at a bgr station, freq={f}")